


:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent1-color:#E08700;
    --accent2-color:#184930;

    --heading-font: 'Rubik', sans-serif;
    --paragraph-font:'Roboto', sans-serif;

   
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}   

.heading, .author{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

 h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--primary-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--primary-color);
    font-size: 1.2rem;
    display: flex;
  
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
    margin: .5rem;
}

nav a:hover{
    color: var(--accent1-color);
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
   
}

.logo{
    width: 150px;
    height: auto;
}

footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    height: 100px;
}

footer p{
    padding: .5rem;
  
}
