:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --accent1-color:#E08700;
    --accent2-color:#184930;

    --heading-font: 'Rubik', sans-serif;
    --paragraph-font:'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between; /* Space between the logo and menu */
    align-items: center;
    padding: 1rem; /* Add some padding to make it look more spacious */
    width: 100%;
    position: relative; /* Ensure it stays on top */
    z-index: 100; /* Keep header above other elements */
    text-align: center;
}


.header-container-1 {
    display: flex;
    flex-direction: row; /* Align logo and title in a row */
    align-items: center;
}

.logo{
   max-width: 100px;
   margin: 1rem;
}

#menu::before {
    content: "☰";
    
  }

#menu {
    font-size: 3rem;
    padding: .2rem .75rem;
    color: var(--secondary-color);
    cursor: pointer; 
    text-decoration: none;
}

nav {
    background-color: var(--primary-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Initially hidden, toggles with the menu */
    position: absolute;
    top: 70%; /* Position below the header */
    right: 0;
    width: 20%; /* Full-width menu */
    background-color: var(--primary-color);
    z-index: 1000;
    text-align: center; /* Center the menu items */
    border: 1px solid white;
    border-radius: 4px;
}

.list li{
    display: none;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    text-align: center; 
}

.list a{
    color: var(--secondary-color);
    text-decoration: none;
   
}

.list a:hover{
    background-color: var(--accent1-color);
    padding: .5rem;
    border: 1px solid white;
    border-radius: 3px;
    
}

.list.show{
    display: block;
    
}

/* ---------main styles----------- */

main{
    display: block;
    align-items: cente;
}

.video{
    max-width: 100%;
    margin-bottom: 2rem;
}
.title{
   margin: 2rem;
}
.home-container{
    position: relative;
}

.home-2{
background-image: url('/website-project/images/hero-small.webp');
background-size: cover;
max-width: 600px;

}

.home-2-title, .home-2-sub{
    padding: 1rem;
    margin-bottom: 1rem;
    
}

.home-socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
}

.show{

    padding: 1rem;
}

.show img {
    margin: 1rem;
    width: 300px;
    height: auto;
}

.show p{
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    margin: .5rem;
}



.about{
    padding: 1rem;
}

.about img{
    border-radius: 50%;
}

.about p{
    margin: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

.about h5{
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
}

.calender-container{
    display: block;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 2rem;

}

.button:hover{
    background-color: var(--accent2-color);
}

.button:focus {
    outline: 2px solid var(--accent2-color);
}

.calender{
 display: none;

}


.f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    max-width: 100%;
    border: 1px solid black;
    padding: 8px;
 
    background-color: #f9f9f9;
}

form.f1 .label {
    width: 100%; 
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
    font-size: 16px; 
}
form.f1 input[type="text"],
form.f1 input[type="email"] {
    width: 100%; 
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form.f1 input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form.f1 input[type="submit"]:hover {
    background-color: #010101;
}

 .tracks ul{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
 }

.connect{
    padding: 1rem;
}

.connect p{
    font-weight: 500;
}

.connect div{
    margin-top:1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-logo{
    width: 25px;
}


/* ---------footer styles----------- */

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}




