*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 1rem;
}

/* Mobile */
body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 320px;
}

header {
    background-color: rgb(207, 191, 222);
    
}

.header-text {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.navigation {
    background: black;
    padding: 1rem;
}

.nav-wrap {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;  
}

a:hover {
    color: rgb(202, 165, 236);
    text-decoration: underline;
}

a:visited {
    color: #d5c6db;
}

a:active {
    color: rgb(202, 165, 236);
}



main {
    background-color: rgb(255, 255, 255);
    max-width: 720px;
  
   
   
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(202, 165, 236);
    border-radius: 7px;
    margin-top: 2rem;
}

.main-text{
    background-color: rgb(202, 165, 236);
    width: 100%;
    text-align: center;
}

.card1-p, .card2-p {
    margin: 1.5rem;
}

.profile-image, .flag {
    width: 90%;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 1rem;
}

aside {
    margin-top: 2rem;
    border: 2px solid rgb(207, 191, 222);
    border-radius: 7px;
    height: 18rem;
}

.aside-text {
    background-color: rgb(207, 191, 222);
    text-align: center;
    padding: 0.5rem;
}

.aside-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    height: 100%;
}



footer {
    background-color: rgb(207, 191, 222);
    grid-column: 1/4;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}





/* Tablets and Up*/
@media (min-width: 768px) {
    body {
        display: grid;
        height: 100vh;
        grid-template: auto 1fr auto / 300px 1fr auto;
        padding: 2rem; /* Adjust padding for larger screens */
    }


header,main , aside {
    grid-column: 1/4;
}

.profile-image, .flag {
    width: 70%;

}

}

@media (min-width: 1024px) {
   
    body{
        display: grid;
        height: 100vh;
        grid-template: auto 1fr auto / 300px 1fr auto;
        padding: 5rem;    
    }
    
    
    
    
    header{
        
        grid-column: 1/4;
    }
     
    
    
    main{
        background-color: rgb(255, 255, 255);
        grid-column: 1/3;
        padding-right: 4rem;
       
        
    }
    
    section{
        display: grid;
        grid-template: auto 1fr auto / 300px 1fr auto;
        border: 2px solid rgb(202, 165, 236);
        border-radius: 7px;
       
       
    
    }
    
    
    .main-text{
        grid-column: 1/4;
        background-color: rgb(207, 191, 222);
        text-align: center;
        padding: 0.5rem;
    }
    
    .card1-p{
        grid-column: 1/3;
        width: 80%;
        margin: 1.5rem;
    }
    
    .profile-image{
        width: 200px;
        height: auto;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 1px;
        background-color: #333;
        grid-column: 3/4;
        margin: 1rem;
    }
    
    .flag{
        width: 300px;
        height: auto;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 1px;
        background-color: #333;
        grid-column: 1/3;
        margin: 1rem;
    
    }
    
    .card2-p{
        grid-column: 3/4;
        width: 80%;
        margin: 1.5rem;
    
    }
    
    
    aside{
        grid-column: 3/4;
        margin-top: 2rem;
        border: 2px solid rgb(207, 191, 222);
        border-radius: 7px;
        height: 95%;
    }
    
    
    .aside-text{
        background-color: rgb(207, 191, 222);
        text-align: center;
        padding: 0.5rem;
    }
    
    .aside-list{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 7rem;
    }
    
    .links {
        color: #000;
    }
    
    
    
    footer{
        background-color: rgb(207, 191, 222);
        grid-column: 1/4;
        padding: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

}


